In [1]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\Users\\REVANTH\\Desktop')

In [3]:
data=pd.read_csv('./heart.csv')

In [4]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
# The dataset contains the following features:
# 1. age(in years)
# 2. sex: (1 = male; 0 = female)
# 3. cp: chest pain type
# 4. trestbps: resting blood pressure (in mm Hg on admission to the hospital)
# 5. chol: serum cholestoral in mg/dl
# 6. fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)
# 7. restecg: resting electrocardiographic results
# 8. thalach: maximum heart rate achieved
# 9. exang: exercise induced angina (1 = yes; 0 = no)
# 10. oldpeak: ST depression induced by exercise relative to rest
# 11. slope: the slope of the peak exercise ST segment
# 12. ca: number of major vessels (0-3) colored by flourosopy
# 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
# 14. target: 1 or 0

In [ ]:
plt.bar(['diseased persons', 'healthy persons'], data['target'].value_counts())
plt.show()

In [ ]:
import plotly
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
col = "target"
grouped = data[col].value_counts().reset_index()
grouped = grouped.rename(columns = {col : "count", "index" : col})

## plot
trace = go.Pie(labels=grouped[col], values=grouped['count'], pull=[0.05, 0])
layout = {'title': 'Target(0 = No, 1 = Yes)'}
fig = go.Figure(data = [trace], layout = layout)
iplot(fig)

In [ ]:
print(data.isnull().sum())

In [ ]:
import seaborn as sns
plt.figure(figsize=(14,8))
plt.title('Pearson Correlation of Heart disease Numerical Features')
# Draw the heatmap using seaborn
sns.heatmap(data.corr(),linewidths=0.25,vmax=1.0, 
            square=True, cmap="cubehelix_r", linecolor='k', annot=True)

In [ ]:

sns.distplot(data['thalach'],kde=False,bins=30,color='violet')

In [ ]:
sns.distplot(data['chol'],kde=False,bins=30,color='red')
plt.show()

In [ ]:
sns.distplot(data['trestbps'],kde=False,bins=30,color='blue')
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
sns.countplot(x='age',data = data, hue = 'target',palette='GnBu')
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
sns.scatterplot(x='chol',y='thalach',data=data,hue='target')
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
sns.scatterplot(x='trestbps',y='thalach',data=data,hue='target')
plt.show()

In [5]:
data1 = data.drop(['chol','fbs'], axis=1)

In [6]:
data1

,age,sex,cp,trestbps,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,0,150,0,2.3,0,0,1,1
1,37,1,2,130,1,187,0,3.5,0,0,2,1
2,41,0,1,130,0,172,0,1.4,2,0,2,1
3,56,1,1,120,1,178,0,0.8,2,0,2,1
4,57,0,0,120,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,1,123,1,0.2,1,0,3,0
299,45,1,3,110,1,132,0,1.2,1,0,3,0
300,68,1,0,144,1,141,0,3.4,1,2,3,0
301,57,1,0,130,1,115,1,1.2,1,1,3,0
302,57,0,1,130,0,174,0,0.0,1,1,2,0

In [7]:
a = pd.get_dummies(data['cp'], prefix = "cp")
b = pd.get_dummies(data['thal'], prefix = "thal")
c = pd.get_dummies(data['slope'], prefix = "slope")
frames = [data1, a, b, c]
df = pd.concat(frames, axis = 1)
df.head()

,age,sex,cp,trestbps,restecg,thalach,exang,oldpeak,slope,ca,...,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,3,145,0,150,0,2.3,0,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,1,187,0,3.5,0,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,0,172,0,1.4,2,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,1,178,0,0.8,2,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,1,163,1,0.6,2,0,...,0,0,0,0,0,1,0,0,0,1

In [8]:
df = df.drop(columns = ['cp', 'thal', 'slope'])
df.head()

,age,sex,trestbps,restecg,thalach,exang,oldpeak,ca,target,cp_0,cp_1,cp_2,cp_3,thal_0,thal_1,thal_2,thal_3,slope_0,slope_1,slope_2
0,63,1,145,0,150,0,2.3,0,1,0,0,0,1,0,1,0,0,1,0,0
1,37,1,130,1,187,0,3.5,0,1,0,0,1,0,0,0,1,0,1,0,0
2,41,0,130,0,172,0,1.4,0,1,0,1,0,0,0,0,1,0,0,0,1
3,56,1,120,1,178,0,0.8,0,1,0,1,0,0,0,0,1,0,0,0,1
4,57,0,120,1,163,1,0.6,0,1,1,0,0,0,0,0,1,0,0,0,1

In [ ]:
model_data=df
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
basic_target =model_data['target']
basic_features = model_data.drop(['target'],axis=1)
x=RobustScaler() 
basic_features=x.fit_transform(basic_features)
features_train, features_test, target_train, target_test = train_test_split(basic_features, basic_target, 
                                                                            test_size=0.2,
                                                                            random_state=42)
print(features_train.shape)
print(features_test)
print(target_train.shape)
print(target_test.shape)

In [ ]:
def mae(y_true, y_pred):
    return np.average(abs(y_true - y_pred))

In [ ]:
def fit_and_evaluate(model):
    
    # Train the model
    model.fit(features_train, target_train)
    
    # Make predictions and evalute
    model_pred = model.predict(features_test)
    print(model_pred)
    model_mae = mae(target_test, model_pred)
    
    # Return the performance metric
    return model_mae

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
knn_scores = []
for k in range(1,21):
    knn_classifier = KNeighborsClassifier(n_neighbors = k)
    score=cross_val_score(knn_classifier,basic_features,basic_target,cv=10)
    knn_scores.append(score.mean())

In [ ]:
plt.plot([k for k in range(1, 21)], knn_scores, color = 'red')
for i in range(1,21):
    plt.text(i, knn_scores[i-1], (i, knn_scores[i-1]))
plt.xticks([i for i in range(1, 21)])
plt.xlabel('Number of Neighbors (K)')
plt.ylabel('Scores')
plt.title('K Neighbors Classifier scores for different K values')

In [ ]:
knn_classifier = KNeighborsClassifier(n_neighbors =9 )
score=cross_val_score(knn_classifier,basic_features,basic_target,cv=10)

In [ ]:

score.mean()

In [ ]:
x=RobustScaler() 
d=x.fit_transform(d)
knn_classifier.fit(features_train,target_train )
model_pred = knn_classifier.predict(d)
print(model_pred[179:])

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
lr = LinearRegression()
lr_mae = fit_and_evaluate(lr)

print("Linear Regression Performance on the test set: MAE = {:.04f}".format(lr_mae))

In [ ]:
svm = SVR(C = 1000, gamma=0.1)
svm_mae = fit_and_evaluate(svm)

print("Support Vector Machine Regression Performance on the test set: MAE = {:.04f}".format(svm_mae))

In [ ]:
random_forest = RandomForestRegressor(random_state=60,n_estimators=100)
random_forest_mae = fit_and_evaluate(random_forest)

print("Random Forest Regression Performance on the test set: MAE = {:.04f}".format(random_forest_mae))

In [ ]:
gradient_boosting = GradientBoostingRegressor(random_state=60)
gradient_boosting_mae = fit_and_evaluate(gradient_boosting)

print("Gradient Boosting Regression Performance on the test set: MAE = {:.04f}".format(gradient_boosting_mae))

In [ ]:
knn = KNeighborsRegressor(n_neighbors=10)
knn_mae = fit_and_evaluate(knn)

print("K-Nearest Neighbors Regression Performance on the test set: MAE = {:.04f}".format(knn_mae))

In [ ]:
ridge = Ridge(alpha=10)
ridge_mae = fit_and_evaluate(ridge)

print("Ridge Regression Performance on the test set: MAE = {:.04f}".format(ridge_mae))

In [ ]:
model_comparison = pd.DataFrame({"model": [
                                            "Random Forest", "Gradient Boosting",
                                            "K-Nearest Neighbors", "Ridge","Liner Regression"],
                                 "mae": [random_forest_mae, 
                                         gradient_boosting_mae, knn_mae, ridge_mae,lr_mae]})
model_comparison.sort_values("mae", ascending=False).plot(x="model", y="mae", kind="barh",
                                                           color="lightskyblue", legend=False)
plt.ylabel(""); plt.yticks(size=12); plt.xlabel("Mean Absolute Error"); plt.xticks(size=12)
plt.title("Model Comparison on Test MAE", size=20);

In [ ]:
#function to get the predection result
def fit_and_evaluate1(model,test):
    
    # Train the model
    model.fit(features_train, target_train)
    print(test)
    # Make predictions and evalute
    model_pred = model.predict(test)
    return model_pred

In [ ]:
d=pd.DataFrame(df[:-1].drop('target',axis=1))
#d=d.append(df[2:3].drop('target',axis=1))
d

In [ ]:
# x=RobustScaler() 
# d=x.fit_transform(d)
knn = KNeighborsRegressor(n_neighbors=9)
knn_mae = fit_and_evaluate1(knn,d )

In [ ]:
print(knn_mae)

In [ ]:
scoreList = []
accuracies = {}
for i in range(1,20):
    knn2 = KNeighborsClassifier(n_neighbors = i)  # n_neighbors means k
    knn2.fit(features_train,target_train )
    scoreList.append(knn2.score(features_test, target_test))
    
plt.plot(range(1,20), scoreList)
plt.xticks(np.arange(1,20,1))
plt.xlabel("K value")
plt.ylabel("Score")
plt.show()

acc = max(scoreList)*100
accuracies['KNN'] = acc
print("Maximum KNN Score is {:.2f}%".format(acc))

In [ ]:
knn2 = KNeighborsClassifier(n_neighbors = 9)  # n_neighbors means k
knn2.fit(features_train,target_train )
model_pred = knn2.predict(d)
print(model_pred)

In [ ]:
d

In [ ]:
print(features_test)